<section class="section-main">
  <!-- Header -->

  <app-header
    [titulo]="'Contraseña Información '"
    [showSearch]="false"
    [showButton]="false"
    >
  </app-header>

  <!-- Lista de Detalles -->
  <main class="detail-container">

    <div class="flow-root" *ngIf="password">
      <!-- Cuerpo de la lista -->
      <dl class="definition-list">
        <!-- Titulo -->
        <div class="definition-item">
          <dt class="term"> Nombre </dt>
          <dd class="desc"> {{password.nombre}} </dd>
        </div>
        
        <!-- Usuario -->
        <div class="definition-item">
          <dt class="term"> Usuario o Email </dt>
          <dd class="desc"> {{password.userEmail}} </dd>
        </div>

        <!-- Contraseña -->
        <div class="definition-item">
          <dt class="term"> Contraseña </dt>
          <dd class="desc"> {{password.clave}} </dd>
        </div>

        <!-- Url -->
        <div class="definition-item">
          <dt class="term"> URL </dt>
          <dd class="desc">
            <a href="{{password.url}}"> {{password.url}} </a>
        </dd>
        </div>

        <!-- categoría -->
        <div class="definition-item">
          <dt class="term"> Categoría </dt>
          <dd class="desc"> {{password.categoriaNombre}} </dd>
        </div>
        
        <!-- Fecha de creación -->
        <div class="definition-item">
          <dt class="term"> fecha de Creación </dt>
          <dd class="desc"> {{password.fechaCreacion | date }} </dd>
        </div>

        <!-- Fecha de Actualización -->
        <div class="definition-item">
          <dt class="term"> fecha de Actualización </dt>
          <dd class="desc"> {{password.fechaActualizacion | date }} </dd>
        </div>

        <!-- Notas -->
        <div class="definition-item" *ngIf="password.notas !== null">
          <dt class="term"> Notas </dt>
          <dd class="desc"> {{password.notas }} </dd>
        </div> 

      </dl>

      <!-- Contenedor de Botones -->
      <div class="button-container d-flex justify-content-center gap-4">
        <a class="btn btn-edit" [routerLink]="['/dashboard/password/editar', password.id]">Editar</a>
        <button class="btn btn-delete" (click)="deletePassword(password.id)"> Eliminar </button>
      </div>

    </div>

  </main>

</section>
