<section class="section-main">
  <!-- Header -->

  <app-header>
  </app-header>

  <!-- Lista de Detalles -->
  <main class="detail-container">
    <div class="flow-root">
      <dl class="definition-list">
        <!-- Titulo -->
        <div class="definition-item">
          <dt class="term">Title</dt>
          <dd class="desc">Instagram</dd>
        </div>
        
        <!-- Usuario -->
        <div class="definition-item">
          <dt class="term">Usuario</dt>
          <dd class="desc">John Frusciante</dd>
        </div>

        <!-- Contraseña -->
        <div class="definition-item">
          <dt class="term">Contraseña</dt>
          <dd class="desc">*******</dd>
        </div>

        <!-- Url -->
        <div class="definition-item">
          <dt class="term">URL</dt>
          <dd class="desc">
            <a href="http://www.instagram.com">http://www.instagram.com</a>
        </dd>
        </div>

        <!-- categoría -->
        <div class="definition-item">
          <dt class="term">Categoría</dt>
          <dd class="desc">
            Aplicación
          </dd>
        </div>        

      </dl>

      <div class="button-container d-flex justify-content-center gap-4">
        <a class="btn btn-edit" [routerLink]="['/dashboard/password-form']">Editar</a>
        <a class="btn btn-delete">Eliminar</a>
      </div>

    </div>

  </main>

</section>
