@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0);

:root {
    /* Principales */
    --color-background: #F3F4FA;
    --color-primary: #F17E5D;

    /* Textos */
    --color-text: #252422;
    --color-text-secondary: rgba(0, 0, 0, .5);
    --color-text-tertiary: #66615b;
    --color-text-desactive: rgba(255,255,255,.6);

    /* Tamaño de texto */
    --text-title: 24px;
    --text-xxl: 18px;
    --text-xl: 16px;
    --text-large: 15px;
    --text-normal: 14px;
    --text-medium: 13px;
    --text-small: 12px;

    /* Botones */
    --btn-primary: #675ac8;
    --btn-pr-disabled: #b4acf1;
    --btn-secondary: #ff6c37;
    --btn-sc-disabled: #f2b7a5;
    --btn-tertiary: #c33535;
    --btn-tr-disabled: #e68d8d;
    
    /* Modo Dark */
    --color-dark-background: #2f4858;

    /* Color */
    --orange: #ff6c37;
    --white: #FFFFFF;
    --purple: #675ac8;

    /* size */
    --m-rem: 6rem;
}

* {
    font-family: "Euclid Circular A", "Poppins";
}

.main {
    background-color: var(--color-background);
    color: var(--color-text);
}