<section class="section-main">
    <!-- Header -->
    <app-header
        [titulo]="'Perfil'"
        [showSearch]="false"
        [showButton]="false">
    </app-header>

    <!-- Main -->
    <main class="form-container">
      
      @if (perfilForm) {
      <!-- Formulario -->
        <form [formGroup]="perfilForm" (ngSubmit)="updatePerfil()">
          <!-- Nombre -->
          <div class="mb-3">
            <label class="form-label" for="nombre"> Nombre </label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre"/>
          </div>

          <div class="mb-3">
            <label class="form-label" for="correo">Correo</label>
            <input type="email" class="form-control" id="correo" formControlName="correo"/>
          </div>

          <div class="mb-3">
            <label class="form-label" for="clave"> Contraseña Nueva </label>
            <input type="password" class="form-control" id="clave" formControlName="clave"/>
          </div>

          <div class="d-flex justify-content-center gap-4">
            <button type="submit" class="btn btn-edit">Actualizar</button>
            <button type="button" class="btn btn-delete" (click)="deletePerfil()">Eliminar Cuenta</button>
          </div>

          <div *ngIf="mensaje" class="alert alert-success d-flex justify-content-center mt-3 p-2" role="alert">
            {{ mensaje }}
          </div>

        </form>
      } @else {
        <p>Cargando datos del perfil...</p>
      }

    </main>

</section>