/* Tabla Principal */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Cabecera  de la tabla*/
thead {
  background-color:var(--btn-primary);
  text-align: left;
}

/* Filas y Columnas */
th,
td {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

/* Titulo de cabecera */
th {
  color: #FFFFFF;
  font-weight: normal;
  font-size: var(--text-large);
}

/* Cuerpo de la tabla */
tbody tr td {
  vertical-align: middle;
  color: var(--color-text-tertiary);
  font-size: var(--text-normal);
}

/* logo del producto */
td img.card-icon {
  width: 40px;
  height: auto;
}

/* Action Buttons */
.action-btn {
  font-size: var(--text-normal);
  padding: 0.4rem 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0.5rem;
  color: var(--white);
}

.action-btn.show {
  background-color: var(--btn-primary);
}

.action-btn.edit {
  background-color: var(--btn-secondary);
  text-decoration: none;
}

.action-btn.delete {
  background-color: var(--btn-tertiary);
  text-decoration: none;
}

.action-btn:hover {
  opacity: 0.7;
}

/* Formato de Numeración */
.card-number {
  letter-spacing: 1px;
  user-select: none;
  /* Previene que el usuario seleccione el texto */
}

/* texto emergente */
.btn-tooltip {
  position: relative;
  display: inline-block;
}

.btn-tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--orange);
  color: var(--white);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 100;
  margin-bottom: 5px;
  opacity: 0;
  transition: opacity 0.3s;
}

.btn-tooltip:hover::before {
  content: '';
  position: absolute;
  bottom: calc(100% - 5px);
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: var(--orange) transparent transparent transparent;
  opacity: 0;
  transition: opacity 0.3s;
}

.btn-tooltip:hover::after,
.btn-tooltip:hover::before {
  opacity: 1;
}