<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<!-- Tabla -->
<table>
  <!-- Cabecera de la tabla-->
  <thead>
    <!-- Fila de la cabecera -->
    <tr>
      <th>Red</th>
      <th>Nombre del Titular</th>
      <th>Numeración</th>
      <th>Fecha de Expiración</th>
      <th>Tipo</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>

<!-- Cuerpo de la tabla -->
  <tbody>
    <!-- Filas del cuerpo-->
    <tr *ngFor="let item of tarjetas">
      <!-- Datos -->
      <td>
        <img [src]="getCardIcon(item.redTarjeta)" alt="Icon-img"/>
      </td>
      <td> {{ item.nombreTitular }} </td>
      <td class="card-number">************</td>
      <td></td>
      <td> {{item.tipoTarjeta}} </td>
      <td> {{item.descripcion}} </td>
      <!-- Botones -->
      <td>
        <button class="action-btn show">
          <i class="fa-regular fa-eye"></i>
        </button>
        <a class="action-btn edit">
          <i class="fa-regular fa-pen-to-square"></i>
        </a>
        <a class="action-btn delete">
          <i class="fa-regular fa-trash-can"></i>
        </a>
      </td>

    </tr>

  </tbody>

</table>
