<!-- Icono -->
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>

<!-- Tabla -->
<table>
  <!-- Cabecera de la tabla-->
  <thead>
    <!-- Fila de la cabecera -->
    <tr>
      <th>Red</th>
      <th>Tipo</th>
      <th>Nombre del Titular</th>
      <th>Numeración</th>
      <th>Fecha de Expiración</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
  </thead>

<!-- Cuerpo de la tabla -->
@if (tarjetas.length !== 0) {
    <tbody>
      <!-- Filas del cuerpo-->
      <tr *ngFor="let item of tarjetas">
        <!-- Datos -->
        <td>
          <img [src]="getCardIcon(item.redNombre)" alt="Icon"/>
        </td>
        <td> {{ item.tipoNombre }} </td>
        <td> {{ item.nombreTitular }} </td>
        <td class="card-number"> {{ formatCardNumber(item.numeracion) }} </td>
        <td> {{ item.fechaExpiracion | date:'MM/YY' }} </td>
        <td> {{item.nombreTarjeta}} </td>
        <!-- Botones -->
        <td>
          <a class="action-btn show" [routerLink]="['/dashboard/tarjeta/detalles', item.id]">
            <i class="fa-regular fa-eye"></i>
          </a>
          <a class="action-btn edit" [routerLink]="['/dashboard/tarjeta/editar', item.id]">
            <i class="fa-regular fa-pen-to-square"></i>
          </a>
          <button class="action-btn delete" (click)="onDelete(item.id)">
            <i class="fa-regular fa-trash-can"></i>
          </button>
        </td>

      </tr>

    </tbody>
  } @else {
      <p class="p-3">No tienes Datos Guardadas.</p>
    }

</table>
