	<header class="header-main">
		<!-- Titulo -->
		<div class="container-title">
			<h2 class="title-text">Mis Contraseñas</h2>
		</div>

		<div class="container-group">
			<!-- Barra de Búsqueda -->
			<div class="box-search">
				<form method="get">
					<svg class="icon-search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="2">
						<path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
						<path d="M21 21l-6 -6"></path>
					</svg>
					<input class="input-search" type="text" name="term" placeholder="Buscar Contraseña" />
				</form>
			</div>

			<!-- Botón -->
			<div class="box-button">
				<a class="btn-add">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="2">
						<path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
						<path d="M9 12h6"></path>
						<path d="M12 9v6"></path>
					</svg>
					Agregar Contraseña
				</a>
			</div>
		</div>
	</header>