@{
	ViewData["Title"] = "Inicio";
}

<link rel="stylesheet" href="~/css/card.css" />

<section class="card-main">

	<div class="card-container">
		<div class="titulo">
			<h2>Agregar nueva contraseña</h2>
			<p>
				Ingresa los detalles de la nueva contraseña aquí. Asegúrate de usar una contraseña fuerte y única.
			</p>
		</div>

		<form class="card-info" asp-controller="Password" asp-action="Create" method="post">
			<div class="info-input">
				<label for="titulo">Título</label>
				<input type="text" id="titulo" required />
			</div>

			<div class="info-input">
				<label for="usuario">Usuario/Email</label>
				<input type="text" id="usuario" required/>
			</div>

			<div class="info-input">
				<label class="password">Contraseña</label>
				<input type="password" id="password" required />
			</div>

			<div class="info-input">
				<label for="url">URL</label>
				<input type="url" id="url" required />
			</div>

			<div class="info-input">
				<label for="categoria">Categoría</label>
				<select id="categorio" required>
					<option value="">Selecciona una categoría</option>
					<option value="Sitio web">Sitio web</option>
					<option value="Aplicación">Aplicación</option>
					<option value="Tarjeta">Tarjeta</option>
					<option value="Otro">Otro</option>
				</select>
			</div>

			<div class="box-btn">
				<button type="submit">Guardar contraseña</button>
			</div>

		</form>

	</div>

</section>