<link rel="stylesheet" href="~/css/style.css" />

<!-- Title -->
<div class="content-title">
	<h2 class="title-url">Facebook</h2>
	<img class="title-icon" src="https://www.google.com/s2/favicons?domain=https://es-la.facebook.com/" alt="Alternate Text" />
</div>

<!-- User -->
<div class="content-info">
	<h2 class="info-title">Usuario</h2>
	<h3 class="info-user">user@example.com</h3>
</div>

<!-- Password -->
<div class="content-info">
	<h2 class="info-title">Contraseña</h2>
	<h3 class="info-user">12345</h3>
</div>

<!-- URL -->
<div class="content-info">
	<h2 class="info-title">URL</h2>
	<h3 class="info-user">https://es-la.facebook.com/</h3>
</div>

<!-- Categoría -->
<div class="content-info">
	<h2 class="info-title">Categoría</h2>
	<h3 class="info-user">Sitio Web</h3>
</div>


<!-- Button card -->
<div class="box-btn">
	<a class="btn-link">Editar</a>
</div>