<section class="section-main">

  <app-header 
    [titulo]="password ? 'Editar Contraseña' : 'Nueva Contraseña'" 
    [showSearch]="false"
    [showButton]="false"
  />

  <!-- Main -->
  <main class="form-container">

    <!-- Form -->
    <form *ngIf="!loading; else loadingTemplate" [formGroup]="form" (ngSubmit)="save()">
      <!-- nombre -->
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" />
        <!-- alerta -->
        <app-alert-invalid [formGroup]="form" controlName="nombre" message="Nombre es requerido." />
      </div>

      <!-- URl -->
      <div class="mb-3">
        <label class="form-label">URL</label>
        <input type="text" class="form-control" formControlName="url" />
        <!-- alerta -->
        <app-alert-invalid [formGroup]="form" controlName="url" message="URL es requerido." />
      </div>

      <!-- Usuario/Email -->
      <div class="mb-3">
        <label class="form-label">Usuario / Email</label>
        <input type="text" class="form-control" formControlName="userEmail" />
        <!-- alerta -->
        <app-alert-invalid [formGroup]="form" controlName="userEmail" message="Usuario o Correo es requerido." />
      </div>

      <!-- Clave -->
      <div class="mb-3">
        <label class="form-label">Clave</label>
        <input type="password" class="form-control" formControlName="clave" />
        <!-- alerta -->
        <app-alert-invalid [formGroup]="form" controlName="clave" message="Clave es requerido." />
      </div>

      <!-- Notas -->
      <div class="mb-3">
        <label class="form-label">Notas (opcional)</label>
        <textarea class="form-control" formControlName="notas"></textarea>
      </div>

      <!-- Categoría -->
      <div class="mb-3">
        <label class="form-label">Categoría</label>
        <select class="form-select" formControlName="categoriaId">
          <option selected disabled value="">Seleccione una categoría</option>
          <option *ngFor="let categoria of categorias" [value]="categoria.id">
            {{ categoria.nombre }}
          </option>
        </select>
        <!-- alerta -->
        <app-alert-invalid [formGroup]="form" controlName="categoriaId" message="Categoría es requerido." />
      </div>

      <!-- Mensajes de error del servidor -->
      <app-error-messages [errors]="errors" />

      <!-- Botones -->
      <div class="d-flex justify-content-center gap-4 mt-4">
        <!-- Regreso -->
        <app-back-button />
        <!-- Submit -->
        <button type="submit" class="btn btn-secondary">
          {{ password ? "Actualizar" : "Guardar" }}
        </button>
      </div>

    </form>

    <!-- Spinner -->
    <ng-template #loadingTemplate>
      <app-spinner [message]="'Cargando datos...'"/>
    </ng-template>

  </main>

</section>