<section class="section-main">

  <app-header 
    [titulo]="isEdit ? 'Editar Contraseña' : 'Nueva Contraseña'" 
    [showSearch]="false"
    [showButton]="false"
  />

  <!-- Main -->
  <main class="form-container">

    <!-- Form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- nombre -->
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" />
        <!-- alerta -->
        <app-alert-invalid [formGroup]="form" controlName="nombre" message="Nombre es requerido." />
      </div>

      <!-- URl -->
      <div class="mb-3">
        <label class="form-label">URL</label>
        <input type="text" class="form-control" formControlName="url" />
        <!-- alerta -->
        <app-alert-invalid [formGroup]="form" controlName="url" message="URL es requerido." />
      </div>

      <!-- Usuario/Email -->
      <div class="mb-3">
        <label class="form-label">Usuario / Email</label>
        <input type="text" class="form-control" formControlName="userEmail" />
        <!-- alerta -->
        <app-alert-invalid [formGroup]="form" controlName="userEmail" message="Usuario o Correo es requerido." />
      </div>

      <!-- Clave -->
      <div class="mb-3">
        <label class="form-label">{{ isEdit ? "Nueva Clave" : "Clave" }}</label>
        <input type="password" class="form-control" formControlName="clave" />
        <!-- alerta -->
        <app-alert-invalid [formGroup]="form" controlName="clave" message="Clave es requerido." />
      </div>

      <!-- Notas -->
      <div class="mb-3">
        <label class="form-label">Notas (opcional)</label>
        <textarea class="form-control" formControlName="notas"></textarea>
      </div>

      <!-- Categoría -->
      <div class="mb-3">
        <label class="form-label">Categoría</label>
        <select class="form-select" formControlName="categoria">
          <option selected disabled value="">Seleccione una categoría</option>
          <option value="Red Social">Red Social</option>
          <option value="Aplicación">Aplicación</option>
          <option value="Sitio Web">Sitio Web</option>
          <option value="Otro">Otro</option>
        </select>
        <!-- alerta -->
        <app-alert-invalid [formGroup]="form" controlName="categoria" message="Categoría es requerido." />
      </div>

      <!-- Botones -->
      <div class="d-flex justify-content-center gap-4 mt-4">
        <!-- Regreso -->
        <app-back-button />
        <!-- Submit -->
        <button type="submit" class="btn btn-secondary" [disabled]="form.invalid">
          {{ isEdit ? "Actualizar" : "Guardar" }}
        </button>
      </div>

    </form>

  </main>

</section>