<section class="section-main">

  <app-header 
    [titulo]="password ? 'Editar Contraseña' : 'Nueva Contraseña'" 
    [showSearch]="false"
    [showButton]="false"
  ></app-header>

  <!-- Main -->
  <main class="form-container">
    <!-- Form -->
    <form *ngIf="!loading; else loadingTemplate" [formGroup]="form" (ngSubmit)="save()">
      <!-- nombre -->
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" />
      </div>
      <!-- URl -->
      <div class="mb-3">
        <label class="form-label">URL</label>
        <input type="text" class="form-control" formControlName="url" />
      </div>
      <!-- Usuario/Email -->
      <div class="mb-3">
        <label class="form-label">Usuario / Email</label>
        <input type="text" class="form-control" formControlName="userEmail" />
      </div>
      <!-- Clave -->
      <div class="mb-3">
        <label class="form-label">Clave</label>
        <input type="password" class="form-control" formControlName="clave" />
      </div>
      <!-- Notas -->
      <div class="mb-3">
        <label class="form-label">Notas (opcional)</label>
        <textarea class="form-control" formControlName="notas"></textarea>
      </div>
      <!-- Categoría -->
      <div class="mb-3">
        <label class="form-label">Categoría</label>
        <select class="form-select" formControlName="categoriaId">
          <option selected disabled value="">Seleccione una categoría</option>
          <option *ngFor="let categoria of categorias" [value]="categoria.id">
            {{ categoria.nombre }}
          </option>
        </select>
      </div>
      <!-- Lista de Errores -->
      <div *ngIf="errors.length > 0" class="alert alert-danger">
        <ul class="mb-0">
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </div>
      <!-- Botones -->
      <div class="d-flex justify-content-center gap-4 mt-4">
        <button type="button" class="btn btn-primary" (click)="goBack()">
          Regresar
        </button>
        <button type="submit" class="btn btn-secondary">
          {{ password ? "Actualizar" : "Guardar" }}
        </button>
      </div>
    </form>
    <!-- Spinner -->
    <ng-template #loadingTemplate>
      <div class="spinner-container">
        <div class="spinner"></div>
        <p>Cargando datos...</p>
      </div>
    </ng-template>

  </main>
  
</section>