<section class="section-main">
	<!-- Header -->
	<app-header
		[titulo]="'Contraseñas'"
		[textButton]="'Agregar Contraseña'"
		[route]="'/dashboard/password-form'">
	</app-header>

	<main class="main-container">
		<!-- Card -->
		<app-card
			>
		</app-card>
		<app-card></app-card>
		<app-card></app-card>
		<app-card></app-card>

		<!-- Mensaje de Alerta -->

		<!-- Modal -->
		<div id="customModal" class="modal">
			<span class="close-button"></span>
			<div class="modal-content">
				<!-- Cargar el contenido dinámico aquí -->
			</div>
		</div>
		
	</main>

	<!-- Footer -->
	 <app-footer
	 	>
	 </app-footer>

</section>
