<section class="main-box">
	<!-- Header -->
	<header class="header-box">
		<!-- Titulo -->
		<div class="box-title">
			<h2 class="title-text">Mis Contraseñas</h2>
		</div>

		<div class="group-box">
			<!-- Barra de Búsqueda -->
			<div class="box-search">
				<form method="get">
					<svg class="icon-search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="2">
						<path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0"></path>
						<path d="M21 21l-6 -6"></path>
					</svg>
					<input class="search-btn" type="text" name="term" placeholder="Buscar Contraseña" />
				</form>
			</div>

			<!-- Boton -->
			<div class="box-button">
				<a class="btn-add">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="20" height="20" stroke-width="2">
						<path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
						<path d="M9 12h6"></path>
						<path d="M12 9v6"></path>
					</svg>
					Agregar Contraseña
				</a>
			</div>
		</div>
	</header>

	<main class="main-container">
				<!-- Card -->
				<div class="card-content">
					<!-- Title card -->
					<div class="content-title">
						<h3 class="title-url">Titulo</h3>
						<img class="title-icon" src="https://www.google.com/s2/favicons?domain=@password.URL" alt="Alternate Text" />
					</div>
					<!-- Info card -->
					<div class="content-info">
						<h3 class="info-title">Usuario</h3>
						<h3 class="info-user">UserEmail</h3>
					</div>

					<!-- Footer card -->
					<div class="box-footer">
						<button class="footer-link">Ver detalles</button>
					</div>
				</div>

		<!-- Mensaje de Alerta -->

		<!-- Modal -->
		<div id="customModal" class="modal">
			<span class="close-button"></span>
			<div class="modal-content">
				<!-- Cargar el contenido dinámico aquí -->
			</div>
		</div>
	</main>

</section>
