<main class="main-container">
    <section class="box-section">
        <!-- Pills navs -->
        <ul class="nav nav-justified py-3 gap-3" id="ex1" role="tablist">
            <li class="item-menu" role="presentation">
                <a class="menu-link" id="tab-login" data-mdb-pill-init role="tab"
                aria-controls="pills-login" aria-selected="true" [routerLink]="['/auth/login']">Login</a>
            </li>
            <li class="item-menu" role="presentation">
                <a class="menu-link active" id="tab-register" data-mdb-pill-init role="tab"
                aria-controls="pills-register" aria-selected="false" [routerLink]="['/auth/registro']">Register</a>
            </li>
        </ul>

        <!-- Pills content -->
        <div class="tab-content">
            <!-- Register Form -->
            <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                <form [formGroup]="registroForm" (ngSubmit)="signUp()">
                    <!-- Name input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="nombre">Usuario</label>
                        <input type="text" id="nombre" formControlName="nombre" class="form-control" required minlength="3" />
                        <!-- Alert -->
                        @if (registroForm.get('nombre')?.invalid && registroForm.get('nombre')?.touched) {
                            <p class="alert alert-warning text-center p-0 m-0" role="alert"> Ingrese un nombre valido. </p>
                        }
                    </div>
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="correo">Correo</label>
                        <input type="email" id="correo" formControlName="correo" class="form-control" required />
                        <!-- Alert -->
                        @if (registroForm.get('correo')?.invalid && registroForm.get('correo')?.touched) {
                            <p class="alert alert-warning text-center p-0 m-0" role="alert"> Ingrese un Correo valido. </p>
                        }
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="clave">Password</label>
                        <input type="password" id="clave" class="form-control" formControlName="clave" required />
                        <!-- Alert -->
                        @if (registroForm.get('clave')?.invalid && registroForm.get('clave')?.touched) {
                            <p class="alert alert-warning text-center p-0 m-0" role="alert"> La contraseña debe tener al menos 5 caracteres.</p>
                        }
                    </div>

                    <!-- Repeat Password input -->
                    <div class="form-outline mb-4">
                        <label class="form-label" for="confirClave">Repetir password</label>
                        <input type="password" id="confirClave" class="form-control" formControlName="confirClave" required />

                        <p class="alert alert-warning text-center p-0 m-0" role="alert"
                        *ngIf="registroForm.hasError('passwordMismatch') && registroForm.get('confirClave')?.touched">
                        Las contraseñas no coinciden.
                        </p>
                        
                    </div>

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-block mb-3 w-100" [disabled]="registroForm.invalid"> Registrarse </button>

                    <!-- Mensajes de error del servidor -->
                    <div *ngIf="errors.length > 0" class="alert alert-danger m-0 d-flex justify-content-center" role="alert">
                        <small *ngFor="let error of errors"> {{ error }} </small>
                    </div>

                </form>
            </div>
        </div>
    </section>
</main>