<section class="card-container" *ngFor="let item of passwords">
  <!-- Title card -->
  <div class="container-title">
    <h3 class="title-name"> {{item.nombre}} </h3>
    <img
      class="title-icon"
      src="https://api.faviconkit.com/{{item.url}}/64"
      alt="icon"
    />
  </div>
  <!-- Info card -->
  <div class="container-info">
    <h3 class="title-user">Usuario/Email</h3>
    <h3 class="user-name"> {{item.userEmail}} </h3>
  </div>

  <!-- Footer card -->
  <div class="container-btn">
    <button type="submit" class="btn-details" [routerLink]="['/dashboard/password/detalles', item.id]">Ver detalles</button>
  </div>
</section>
