/*Tarjeta Principal*/
.card-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  margin: 10px 0;
  padding: 20px;
  overflow: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/*Titulo de la tarjeta*/
.container-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-title .title-url {
  color: var(--color-text);
  font-weight: normal;
  font-size: var(--text-large);
}

.container-title .title-icon {
  width: 28px;
}

/* Información de la tarjeta */
.container-info .info-title {
  color: var(--color-text-tertiary);
  font-size: var(--text-normal);
  margin-bottom: 0px;
  font-weight: normal;
}

.container-info .info-user {
  color: var(--color-text-tertiary);
  font-size: var(--text-normal);
}

/* Botones */
.container-btn .btn-info {
  display: flex;
  width: 100%;
  font-size: var(--text-normal);
  justify-content: center;
  padding: 4px;
  background-color: transparent;
  color: var(--purple);
  border-radius: 5px;
  border: 1px solid var(--purple);
  transition: all 0.3s ease;
}

.container-btn .btn-info:hover {
  border-radius: 5px;
  background-color: var(--btn-primary);
  color: var(--white);
  cursor: pointer;
}
