<div class="card-container">
  <!-- Title card -->
  <div class="container-title">
    <h3 class="title-url">Titulo</h3>
    <img
      class="title-icon"
      src="https://www.google.com/s2/favicons?domain=@password.URL"
      alt="Alternate Text"
    />
  </div>
  <!-- Info card -->
  <div class="container-info">
    <h3 class="info-title">Usuario</h3>
    <h3 class="info-user">UserEmail</h3>
  </div>

  <!-- Footer card -->
  <div class="container-btn">
    <button type="submit" class="btn-info" [routerLink]="['/dashboard/password-detail']">Ver detalles</button>
  </div>
</div>
