<section class="section-main">
    <!-- Header -->
    <app-header
        [titulo]="'Perfil'"
        [showSearch]="false"
        [showButton]="false">
    </app-header>

    <!-- Main -->
    <main class="form-container">
      
      @if (form) {
      <!-- Formulario -->
        <form [formGroup]="form" (ngSubmit)="updatePerfil()">
          <!-- Nombre -->
          <div class="mb-3">
            <label class="form-label" for="nombre"> Nombre </label>
            <input type="text" id="nombre" class="form-control" formControlName="nombre"/>
            <!-- Alert -->
            @if (form.get('nombre')?.invalid && form.get('nombre')?.touched) {
                <p class="alert alert-warning text-center p-0 m-0" role="alert"> Ingrese un Nombre valido. </p>
            }
          </div>

          <div class="mb-3">
            <label class="form-label" for="correo">Correo</label>
            <input type="email" class="form-control" id="correo" formControlName="correo"/>
            <!-- Alert -->
            @if (form.get('correo')?.invalid && form.get('correo')?.touched) {
                <p class="alert alert-warning text-center p-0 m-0" role="alert"> Ingrese un Correo valido. </p>
            }
          </div>

          <div class="mb-3">
            <label class="form-label" for="clave"> Contraseña Nueva </label>
            <input type="password" class="form-control" id="clave" formControlName="clave" minlength="5"/>
            <!-- Alert -->
            @if (form.get('clave')?.invalid && form.get('clave')?.touched) {
              <p class="alert alert-warning text-center p-0 m-0" role="alert"> La contraseña debe tener al menos 5 caracteres.</p>
            }
          </div>

          <div class="d-flex justify-content-center gap-4">
            <button type="submit" class="btn btn-edit" [disabled]="form.invalid">Actualizar</button>
            <button type="button" class="btn btn-delete" (click)="deleteAccount()">Eliminar Cuenta</button>
          </div>

        </form>
      } @else {
        <p>Cargando datos del perfil...</p>
      }

    </main>

</section>