<section class="main-box">
	<!-- Header -->
	<app-header
		[titulo]="'Generador de contraseña'"
		[showSearch]="false"
		[textButton]="'Agregar Contraseña'"
		[route]="'/dashboard/password-form'">
	</app-header>

	<!-- Main -->
	<div class="main-container">
		<div class="container">
			<h2>Genera tu Contraseña</h2>

			<div class="password-length">
				<label for="length">Longitud de la contraseña:</label>
				<input type="number" [(ngModel)]="length" min="8" max="20" placeholder="12">
			</div>

			<div class="options">
				<label><input type="checkbox" [(ngModel)]="includeUppercase"> Incluir letras Mayúsculas</label>
				<label><input type="checkbox" [(ngModel)]="includeLowercase"> Incluir letras minúsculas</label>
				<label><input type="checkbox" [(ngModel)]="includeNumbers"> Incluir números</label>
				<label><input type="checkbox" [(ngModel)]="includeSpecial"> Incluir caracteres especiales</label>
				<label for="keyword">Palabra clave adicional (opcional):</label>
				<input type="text" [(ngModel)]="keyword" placeholder="Ejemplo: Seguridad">
			</div>

			<button (click)="generatePassword()" >Generar Contraseña</button>
			<div class="password" id="password">
                <input class="password" type="text" disabled value="{{ password}}" placeholder="tu contraseña generada aparecerá aquí">
            </div>
		</div>
	</div>
</section>
