<!-- Icono fontawesome -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

<!-- Main -->
<section class="main-box">
	<!-- Header -->
	<app-header 
		[titulo]="'Generador de contraseña'" 
		[showSearch]="false" 
		[textButton]="'Agregar Contraseña'"
		[route]="'/dashboard/password/nueva'">
	</app-header>

	<!-- Main -->
	<div class="main-container">
		<div class="container">
			<h2>Genera tu Contraseña</h2>

			<div class="password-length">
				<label for="length">Longitud de la contraseña:</label>
				<input type="number" [(ngModel)]="length" min="8" max="20" placeholder="12">
			</div>

			<div class="options">
				<label><input type="checkbox" [(ngModel)]="includeUppercase"> Incluir letras Mayúsculas</label>
				<label><input type="checkbox" [(ngModel)]="includeLowercase"> Incluir letras minúsculas</label>
				<label><input type="checkbox" [(ngModel)]="includeNumbers"> Incluir números</label>
				<label><input type="checkbox" [(ngModel)]="includeSpecial"> Incluir caracteres especiales</label>
				<label for="keyword">Palabra clave adicional (opcional):</label>
				<input type="text" [(ngModel)]="keyword" placeholder="Ejemplo: Seguridad">
			</div>

			<button class="btn-generate" (click)="generatePassword()">Generar Contraseña</button>

			<div class="container-result">
				<div class="text-result" id="password">
					<span *ngIf="password; else noPassword">{{ password }}</span>
					<ng-template #noPassword>Tu contraseña generada aparece aquí</ng-template>
				</div>
					<button (click)="copyClipboard()" class="btn btn-sm copy-button btn-tooltip" data-tooltip="Copiar">
						<i class="fa-regular fa-copy"></i>
					</button>
			</div>

		</div>
	</div>
</section>