<section class="section-main">
    <!-- Header -->
    <app-header
        [titulo]="'Tarjeta'"
        [textButton]="'Agregar Tarjeta'"
        [route]="'/dashboard/tarjeta/nueva'"
        (search)="onSearch($event)"
        ></app-header>

    <!-- Contenido del component -->
    <main class="table-container">
        <!-- Tabla de Datos -->
        <app-table
            [tarjetas]="tarjetas"
            (delete)="onDelete($event)"
            ></app-table>
        
    </main>

    <!-- Footer -->
     <app-footer
        >
     </app-footer>

</section>
